.calculadora {
    border: solid 0.0625rem #000;
    padding: 1.5rem;
    background-color: #3e3e3e;
    border-radius: 0.625rem;
    box-shadow: 0.0625rem 0.0625rem 0.3125rem #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn {
    width: 3.75rem;
    height: 3.125rem;
    margin: 0.3125rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
    background-color: #4caf50;
    color: #fff;
}

.clear {
    width: 8.125rem;
    background-color: #f44336;
    color: #fff;
}

.enter {
    height: 6.875rem;
    background-color: #2196f3;
    color: #fff;
}

.zero {
    width: 8.125rem;
}

.resultado {
    text-align: right;
    font-size: 1.25rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    border: solid 0.0625rem #000;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
    background-color: #fff;
    color: #000;
}